body{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat-Bold', sans-serif;
    font-weight: 900;
    font-size: 3rem;
}

p{
    color: #8f8f8f;
}

/* headings */

.big-heading{
    line-height: 1.5;
}

.medium-heading{
    font-weight: 700;
}

.small-heading{
    font-family: 'Montserrat-Bold', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
}

/* sections */

.colored-section{
    background-color: #ff4c68;
    color: #fff;
}

.white-section{
    background-color: #fff;
}

/* Title Section */

#title .container-fluid{
    padding: 3% 15% 6%;
    text-align: left;
}

.title-image{
    width: 20%;
    transform: rotate(25deg);
    position: absolute;
    right: 23%;
}

/* Navigation Bar */

.navbar{
    padding-bottom: 4.5rem;
}

.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item{
    padding: 0px 20px;
}

.nav-link{
    font-family: 'Montserrat-Light', sans-serif;
    font-size: 1.2rem ;
}

/* Download Button */

.download-button{
    margin: 5% 3% 5% 0%;
}


/* Features */

#features{
    padding: 7% 15%;
    position: relative;
}

.features-container{
    padding: 5%;
}

.feature-icons{
    color: #ef8172;
    font-size: 3.5rem;
    margin-bottom: 1rem;

}

.feature-icons:hover{
    color: #ff4c68;
}

/* Testimonials */

#testimonials{
    background-color: #ef8172 ;
}

.carousel-item{
    padding: 7% 15%;
}

.testimonial-image{
    border-radius: 100%;
    width: 15%;
    margin: 20px;
}

/* Press */

#press{
    background-color: #ef8172;
    padding-bottom: 5%;
}

.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing{
    padding: 100px;
}

.pricing-column{
    padding: 3% 2%;
}

/* Call to Action Section  */

#cta .container-fluid{
    padding: 3% 15% 3%;
}

#cta .container-fluid h3{
    margin-bottom: 30px;
    font-size: 3rem;
}

#cta .download-button{
    margin: 3% 3% 5% 0%;
}

/* Footer */

#footer{
    margin: 4% 0 0 0;
}

#footer a{
    color: black;
    margin: 0 15px;
    font-size: 1.5rem;
}
#footer p{
    margin-top: 2%;
}

/* Media Queries */

@media (max-width: 1028px){
    .title-image{
        position: static;
        transform: rotate(0);
        width: 70%;
    }
    body section#title{
        text-align: center;
        /* doubt */
    }
}